body {
    margin: auto;
}

#column_A-1-1 {
    margin-bottom: 20px;
}

#column_A-1-1 div {
    margin: 0 20px;
}

#column_A-1-1 img {
    margin: 0 20px;
}

#column_A-1-1 h1 {
    margin-bottom: 5px;
}

#column_A-1-1 p {
    margin-top: 0;
}

#column_B-1-1 h3 {
    margin-bottom: 5px;
}

#column_B-1-1 p {
    margin-top: 0;
}

#content_C-1-1 {
    margin: 20px 83px;
}