#content_A-1-1-1 {
    text-align: center;
}

#content_A-1-1-1 span {
    font-size: 26px;
    font-weight: 400;
}

#column_B-1-1 label,
#content_B-1-4 label,
#content_B-1-5-1 {
    font-size: 22px;
}

#content_B-1-5-4-1 {
    text-align: center;
}

#content_B-1-5-6-2-2 {
    color: red;
}

#content_B-1-5-6-1 {
    font-size: 25px;
}

progress {
    text-align: center;
}

progress:before {
    font-size: 15px;
}