body {
    margin: auto;
}

#row_B-1_business-sales-cta {
    margin-bottom: 20px;
}

#column_B-1-1_commerical_construction-section,
#column_B-1-2_commerical_construction-section {
    margin: 20px;
}

#content_B-1-2-1-2-1_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ImageSecure_Sight-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    margin: 12px;
}

#content_B-1-2-1_real_estate-commerical_construction-section input {
    margin: 20px 0;
}