.form button {
    background-color: #f8ef24;
}

.dot {
    background-color: #bbb;
}

.active,
.dot:hover {
    background-color: #717171;
}

.slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mySlides {
    background: #47B749;
}

.content_A-1-1-1-4 {
    text-align: center;
}