/*CONTAINERS*/
#container_Setting-CMP-Product_Creation-Floor-ReadOTOScreenForAll-SKC-Home-4_0_1_0 {
}





/*ROWS*/
#row_A-1_business-sales-logo-commitment {
}

#row_B-1_business-sales-urgency-pitch-cta_zone {
}





/*COLUMNS*/
#column_A-1-1_logo-section {
}

#column_A-1-2_commitment-section {
}

#column_B-1-1_header-text-section {
}

#column_B-1-2_video-holder-section {
}

#column_B-1-3_Yes-Add-To-My-Order-Now {
}

#column_B-1-4_Add-To-My-Order-Now {
}

#column_B-1-5_No-Thanks-I-Dont-Need-This-Now {
}





/*CONTENT*/
#content_A-1-1-1_company-logo-link {
}

#content_A-1-1-1-1_company-logo-image {
}

#content_A-1-2-1_Step-1-Create-Account {
  padding: 10px 0 12px;
}

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_A-1-2-1_Step-1-Create-Account {
      padding: 20px 0 22px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_A-1-2-1_Step-1-Create-Account {
      padding: 14px 2px 16px;
    }
  }

  /*Mobile - 360px*/
  @media (max-width: 361px) {
    #content_A-1-2-1_Step-1-Create-Account {
      padding: 12px 2px 14px;
    }
  }

#content_A-1-2-2_Step-2-Customize-Order {
  padding: 10px 0 12px;
}

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      padding: 20px 0 22px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      padding: 14px 2px 16px;
    }
  }

  /*Mobile - 360px*/
  @media (max-width: 361px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      padding: 12px 2px 14px;
    }
  }

#content_A-1-2-3_Step-3-Order-Complete {
  padding: 10px 0 12px;
}

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      padding: 20px 0 22px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      padding: 14px 2px 16px;
    }
  }

  /*Mobile - 360px*/
  @media (max-width: 361px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      padding: 12px 2px 14px;
    }
  }

#content_B-1-1-1_Headline {
}

#content_B-1-1-2_Sub-Headline {
}

#content_B-1-2-1_video-holder {
}

#content_B-1-3-1-Yes-Add-To-My-Order-Now {
  padding: 10px 0;
}

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      padding: 20px 0;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      padding: 15px 0;
    }
  }

#content-1-4-1_Add-To-My-Order-Now {
}

#content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
}
