/*GENERAL LAYOUT*/
a {
  text-decoration: none;
}




/*CONTAINERS*/
#container_Setting-CMP-Product_Creation-Floor-ReadOTOScreenForAll-SKC-Home-4_0_1_0 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}





/*ROWS*/
#row_A-1_business-sales-logo-commitment {
}

#row_B-1_business-sales-urgency-pitch-cta_zone {
}





/*COLUMNS*/
#column_A-1-1_logo-section {
}

#column_A-1-2_commitment-section {
}

#column_B-1-1_header-text-section {
}

#column_B-1-2_video-holder-section {
}

#column_B-1-3_Yes-Add-To-My-Order-Now {
}

#column_B-1-4_Add-To-My-Order-Now {
}

#column_B-1-5_No-Thanks-I-Dont-Need-This-Now {
}





/*CONTENT*/
#content_A-1-1-1_company-logo-link {
}

#content_A-1-1-1-1_company-logo-image {
}

#content_A-1-2-1_Step-1-Create-Account {
  font-size: 22px;
  font-weight: 500;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_A-1-2-1_Step-1-Create-Account {
      font-size: 18px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_A-1-2-1_Step-1-Create-Account {
      font-size: 16px;
    }
  }

  /*Tablet - 768px*/
  @media (max-width: 768px) {
    #content_A-1-2-1_Step-1-Create-Account {
      font-size: 14px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content_A-1-2-1_Step-1-Create-Account {
      font-size: 12px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_A-1-2-1_Step-1-Create-Account {
      font-size: 9px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_A-1-2-1_Step-1-Create-Account {
      font-size: 8px;
    }
  }

  /*Mobile - 320px*/
  @media (max-width: 321px) {
    #content_A-1-2-1_Step-1-Create-Account {
      font-size: 7px;
    }
  }

#content_A-1-2-2_Step-2-Customize-Order {
  font-size: 22px;
  font-weight: 500;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      font-size: 18px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      font-size: 16px;
    }
  }

  /*Tablet - 768px*/
  @media (max-width: 768px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      font-size: 14px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      font-size: 12px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      font-size: 9px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      font-size: 8px;
    }
  }

  /*Mobile - 320px*/
  @media (max-width: 321px) {
    #content_A-1-2-2_Step-2-Customize-Order {
      font-size: 7px;
    }
  }

#content_A-1-2-3_Step-3-Order-Complete {
  font-size: 22px;
  font-weight: 500;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      font-size: 18px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      font-size: 16px;
    }
  }

  /*Tablet - 768px*/
  @media (max-width: 768px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      font-size: 14px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      font-size: 12px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      font-size: 9px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      font-size: 8px;
    }
  }

  /*Mobile - 320px*/
  @media (max-width: 321px) {
    #content_A-1-2-3_Step-3-Order-Complete {
      font-size: 7px;
    }
  }

#content_B-1-1-1_Headline {
  font-size: 48px;
  font-weight: 700;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_B-1-1-1_Headline {
      font-size: 40px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_B-1-1-1_Headline {
      font-size: 36px;
    }
  }

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_B-1-1-1_Headline {
      font-size: 46px;
    }
  }

  /*Tablet - 800px*/
  @media (max-width: 800px) {
    #content_B-1-1-1_Headline {
      font-size: 36px;
    }
  }

  /*Tablet - 768px*/
  @media (max-width: 768px) {
    #content_B-1-1-1_Headline {
      font-size: 35px;
    }
  }

  /*Mobile - 720px*/
  @media (max-width: 720px) {
    #content_B-1-1-1_Headline {
      font-size: 32px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content_B-1-1-1_Headline {
      font-size: 27px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_B-1-1-1_Headline {
      font-size: 18px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_B-1-1-1_Headline {
      font-size: 17px;
    }
  }

  /*Mobile - 360px*/
  @media (max-width: 361px) {
    #content_B-1-1-1_Headline {
      font-size: 16px;
    }
  }

  /*Mobile - 320px*/
  @media (max-width: 321px) {
    #content_B-1-1-1_Headline {
      font-size: 14px;
    }
  }

#content_B-1-1-2_Sub-Headline {
  font-size: 24px;
  font-weight: 500;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 20px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 18px;
    }
  }

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 24px;
    }
  }

  /*Tablet - 800px*/
  @media (max-width: 800px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 18px;
    }
  }

  /*Mobile - 720px*/
  @media (max-width: 720px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 16px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 14px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 10px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_B-1-1-2_Sub-Headline {
      font-size: 9px;
    }
  }

#content_B-1-2-1_video-holder {
}

#content_B-1-3-1-Yes-Add-To-My-Order-Now {
  font-size: 30px;
  font-weight: 300;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      font-size: 24px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      font-size: 18px;
    }
  }

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      font-size: 28px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      font-size: 22px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      font-size: 16px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_B-1-3-1-Yes-Add-To-My-Order-Now {
      font-size: 12px;
    }
  }

#content-1-4-1_Add-To-My-Order-Now {
  font-size: 28px;
  font-weight: 300;
  text-decoration: underline;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content-1-4-1_Add-To-My-Order-Now {
      font-size: 26px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content-1-4-1_Add-To-My-Order-Now {
      font-size: 18px;
    }
  }

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content-1-4-1_Add-To-My-Order-Now {
      font-size: 30px;
    }
  }

  /*Tablet - 768px*/
  @media (max-width: 768px) {
    #content-1-4-1_Add-To-My-Order-Now {
      font-size: 28px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content-1-4-1_Add-To-My-Order-Now {
      font-size: 24px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content-1-4-1_Add-To-My-Order-Now {
      font-size: 18px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content-1-4-1_Add-To-My-Order-Now {
      font-size: 14px;
    }
  }

#content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
      font-size: 16px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
      font-size: 14px;
    }
  }

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
      font-size: 16px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
      font-size: 14px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
      font-size: 10px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content-1-5-1_No-Thanks-I-Dont-Need-This-Now {
      font-size: 9px;
    }
  }
