body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#container {
    text-align: center;
}

#content_A-1-1-1 {
    color: #1E90FF;
    margin-bottom: 0;
    text-align: center;
}

video {
    width: 100%;
}

#column_D-1-1 button {
    background: darkblue;
    color: #fff;
    padding: 10px 62px;
    cursor: pointer;
    font-size: 22px;
}

#content_C-1-1-2,
#content_A-1-1-2 {
    font-size: 19px;
}