body {
    max-width: 800px;
}

#content_B-1-1-1_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ImageList_Sight-AJC_WidthXHeight_Device-CMS-2_4_1_0 {
    max-width: 300px;
}

#content_B-1-2-1-2-1_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ImageSecure_Sight-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    width: 25px;
}

#content_B-1-2-1_real_estate-commerical_construction-section input {
    width: 100%;
}

#content_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ButtonOptin_Touch-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    width: 100%;
}