#row_B-1_business-sales-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#content_B-1-2-1-3_real_estate-commerical_construction-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_B-1-2-1-2-1_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ImageSecure_Sight-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    filter: invert(1);
}

#content_B-1-2-1_real_estate-commerical_construction-section input {
    display: block;
}

#content_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ButtonOptin_Touch-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    cursor: pointer;
}