body {
    margin: auto;
}

#content_A-1-1-1 {
    margin-bottom: 0;
}

#content_A-1-1-2 {
    margin-top: 5px;
}

#content_A-1-1-3 {
    margin-bottom: 0;
}

#content_A-1-1-4 {
    margin-top: 5px;
}

#row_D-1 h2 {
    margin-bottom: 0px;
}

#row_D-1 h3 {
    margin-top: 5px;
}

#content_F-1-1-2 {
    margin: auto;
}