/*GENERAL LAYOUT*/
body {
  margin: 0;
}





/*CONTAINERS*/
#container_Setting-Ecommerce-Nutrition-Floor-SellLowTickerOffer-AJC-Home-4_2_1_0 {
}





/*ROWS*/
#row_A-1_business-sales-authority {
}

#row_B-1_business-advertising-sign {
}

#row_C-1_business-sales-cta {
}

#row_D-1_business-sales-liking {
}





/*COLUMNS*/
#column_A-1-1_real_estate-commerical_construction-section {
}

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #column_A-1-1_real_estate-commerical_construction-section {
      margin-top: -1px;
    }
  }

#column_B-1-1_real_estate-commerical_construction-section {
}

#column_C-1-1_real_estate-commerical_construction-section {
}

#column_D-1-1_real_estate-commerical_construction-section {
}





/*CONTENT*/
#content_A-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreOwner-WidthXHeight-Desktop-2_4_1_0 {
}

#content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
  margin: -15px 0 0;
}

  /*Desktop - 1440px*/
  @media (max-width: 1440px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 30px 0 0;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: -5px 0 0;
    }
  }

  /*Desktop - 1280px X 1024px*/
  @media (max-width: 1280px) and (max-height: 1024px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 115px 0 5px;
    }
  }

  /*Desktop - 1280px X 800px*/
  @media (max-width: 1280px) and (max-height: 800px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 25px 0 5px;
    }
  }

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 80px 0 5px;
    }
  }

  /*Tablet - 800px*/
  @media (max-width: 800px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 65px 0 5px;
    }
  }

  /*Tablet - 768px*/
  @media (max-width: 768px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 35px 0 5px;
    }
  }

  /*Mobile - 768px*/
  @media (max-width: 768px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 140px 0 5px;
    }
  }

  /*Tablet - 601px*/
  @media (max-width: 601px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 100px 0 8px;
    }
  }

  /*Tablet - 600px*/
  @media (max-width: 600px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 121px 0 8px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 70px 0 12px;
    }
  }

  /*Mobile - 320px*/
  @media (max-width: 321px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      margin: 55px 0 12px;
    }
  }

#content_B-1-1-2_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner2-WidthXHeight-Desktop-1_1_1_0 {
  margin: -15px 0 0;
}

#content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
  margin-top: 30px;
}

  /*Desktop - 1440px*/
  @media (max-width: 1440px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 48px;
    }
  }

  /*Desktop - 1366px*/
  @media (max-width: 1366px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 22px;
    }
  }

  /*Desktop - 1280px X 1024px*/
  @media (max-width: 1280px) and (max-height: 1024px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 150px;
    }
  }

  /*Desktop - 1280px X 800px*/
  @media (max-width: 1280px) and (max-height: 800px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 46px;
    }
  }

  /*Tablet - 1024px*/
  @media (max-width: 1024px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 168px;
    }
  }

  /*Tablet - 768px*/
  @media (max-width: 768px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 134px;
    }
  }

  /*Mobile - 720px*/
  @media (max-width: 720px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 184px;
    }
  }

  /*Mobile - 601px*/
  @media (max-width: 601px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 128px;
    }
  }

  /*Mobile - 414px*/
  @media (max-width: 415px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 114px;
    }
  }

  /*Mobile - 375px*/
  @media (max-width: 376px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 92px;
    }
  }

  /*Mobile - 360px*/
  @media (max-width: 361px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 90px;
    }
  }

  /*Mobile - 320px*/
  @media (max-width: 321px) {
    #content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
      margin-top: 82px;
    }
  }

#content_D-1-1-1_Experience-Movement-Nutrition-Content-OfLiking-AJC-JumpingWoman-WidthXHeight-Desktop-2_4_1_0 {
}

#content_D-1-1-2_Experience-Taste-Nutrition-Content-OfGain-AJC-DrinkExplosion-WidthXHeight-Desktop-2_4_1_0 {
}

#content_D-1-1-3_Experience-Sight-Nutrition-Content-OfLiking-AJC-WinningMan-WidthXHeight-Desktop-2_4_1_0 {
}

#content_D-1-1-4_Experience-Sight-Nutrition-Content-OfLiking-AJC-WinningMan-WidthXHeight-Desktop-2_4_2_0 {
}

#content_D-1-1-5_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreLogo-WidthXHeight-Desktop-1_1_1_0 {
}
