/*CONTAINERS*/
#container_Setting-Ecommerce-Nutrition-Floor-SellLowTickerOffer-AJC-Home-4_2_1_0 {
  text-align: center;
}





/*ROWS*/
#row_A-1_business-sales-authority {
}

#row_B-1_business-advertising-sign {
}

#row_C-1_business-sales-cta {
}

#row_D-1_business-sales-liking {
}





/*COLUMNS*/
#column_A-1-1_real_estate-commerical_construction-section {
}

#column_B-1-1_real_estate-commerical_construction-section {
}

#column_C-1-1_real_estate-commerical_construction-section {
}

#column_D-1-1_real_estate-commerical_construction-section {
}





/*CONTENT*/
#content_A-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreOwner-WidthXHeight-Desktop-2_4_1_0 {
}

#content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
  font-family: 'Gill Sans MT Condensed', sans-serif;
  color: #047A0A;
  font-size: 115px;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_B-1-1-1_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner1-WidthXHeight-Desktop-1_1_1_0 {
      font-size: 100px;
    }
  }

#content_B-1-1-2_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner2-WidthXHeight-Desktop-1_1_1_0 {
  font-family: 'Tw Cen MT Condensed', sans-serif;
  color: #000;
  font-size: 48px;
}

  /*Desktop - 1600px*/
  @media (max-width: 1600px) {
    #content_B-1-1-2_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreBanner2-WidthXHeight-Desktop-1_1_1_0 {
      font-size: 42px;
    }
  }

#content_C-1-1-1_Experience-Touch-Nutrition-Content-ToCTA-AJC-ButtonOptin-WidthXHeight-Desktop-3_1_1_0 {
}

#content_D-1-1-1_Experience-Movement-Nutrition-Content-OfLiking-AJC-JumpingWoman-WidthXHeight-Desktop-2_4_1_0 {
}

#content_D-1-1-2_Experience-Taste-Nutrition-Content-OfGain-AJC-DrinkExplosion-WidthXHeight-Desktop-2_4_1_0 {
}

#content_D-1-1-3_Experience-Sight-Nutrition-Content-OfLiking-AJC-WinningMan-WidthXHeight-Desktop-2_4_1_0 {
}

#content_D-1-1-4_Experience-Sight-Nutrition-Content-OfLiking-AJC-WinningMan-WidthXHeight-Desktop-2_4_2_0 {
}

#content_D-1-1-5_Experience-Awareness-Nutrition-Content-OfAuthority-AJC-StoreLogo-WidthXHeight-Desktop-1_1_1_0 {
}
