body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#content_A-1-1-1_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-Headline_Awareness-AJC_WidthXHeight_Device-CMS-1_1_1_0 {
    text-align: center;
}

#row_B-1_business-sales-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

#column_B-1-1_commerical_construction-section,
#column_B-1-2_commerical_construction-section {
    margin: 20px;
}

#column_B-1-2_commerical_construction-section {
    margin: 10px;
    padding: 10px;
    background: #1E90FF;
}

#content_B-1-1-1_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ImageList_Sight-AJC_WidthXHeight_Device-CMS-2_4_1_0 {
    max-width: 300px;
}

#content_B-1-2-1_real_estate-commerical_construction-section input {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 5px;
}

#content_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ButtonOptin_Touch-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    width: 100%;
    color: #fff;
    background: #00BFFF;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
}

#content_B-1-2-1-3_real_estate-commerical_construction-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_B-1-2-1-2-1_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ImageSecure_Sight-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    width: 25px;
    margin: 12px;
    filter: invert(1);
}

#content_B-1-2-1-2-2_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-TextSecurityNotify_Awareness-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    color: #fff;
}