body {
    padding: 20px;
}

#column_B-1-2_commerical_construction-section {
    padding: 10px;
}

#content_B-1-2-1_real_estate-commerical_construction-section input {
    padding: 5px;
}

#content_Experience_Sketchy-2-2-F-SKC-7-Launch-1-2-Goal-12-ASSET-ButtonOptin_Touch-AJC_WidthXHeight_Device-CMS-3_1_1_0 {
    padding: 10px 16px;
}